<?xml version="1.0" encoding="utf-8" ?>
<configuration>  
  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="CoreSoapBinding" sendTimeout="00:10:00" receiveTimeout="00:10:00">
          <security authenticationMode="UserNameOverTransport" includeTimestamp="false"  messageSecurityVersion="WSSecurity11WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10" />
          <mtomMessageEncoding messageVersion="Soap12"/>
          <httpsTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="https://api.gatewayedi.com/v2/CORE_CAQH/soap" binding="customBinding"
				bindingConfiguration="CoreSoapBinding" contract="TrizettoServiceReference.CORETransactions"
				name="CoreSoapBinding" />
    </client>
  </system.serviceModel>
</configuration>